.mav-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f9fa;
  
    a {
      color: #333;
      text-decoration: none;
      display: flex;
      align-items: center;
  
      .material-icons {
        margin-right: 5px;
      }
  
      &:hover {
        color: #007bff;
      }
    }
  
    .margin-right {
      margin-right: 10px;
    }
  }