<div *ngIf="registro">
    <h2>Registro de Horas</h2>
    <p>ID: {{registro.id}}</p>
    <p>Data e Hora de Entrada: {{registro.dataHoraEntrada}}</p>
    <p>Data e Hora de Saída: {{registro.dataHoraSaida}}</p>
  </div>
  <div class="conteiner-btn">
    <button (click)="iniciarRegistro()" mat-raised-button color="primary" class="btn-register">Iniciar Registro</button>
    <button (click)="finalizarRegistro()" mat-raised-button color="warn" class="btn-cancel">Finalizar Registro</button>
  </div>
 
